* {
	box-sizing: border-box;
}

html,
body {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1 {
	margin: 0;
	padding: 1em 0;
	background-color: rgba(255, 255, 255, 0.96);
}
